.boxStyle {
  width: 100%;
  height: 120pt;
  border-radius: 6px;
}

.shrinkInput::placeholder {
  color: #A7ABBE;
}
.shrinkInput {
  color: #9580FF;
  border-width: .2rem;
  border-color: #9580FF;
  background-color: #21222C;
  border-right: none;
  height: 2.5rem;
}

.shrinkButton {
  color: #6272A4;
  background-color: #8AFF80;
  border-color: #21222C;
  border-left: none;
}

.resultStyle {
  margin-top: 10%;
  background-color: #21222C;
  border-radius: .5rem;
}
.resultStyle > .ant-result-title {
  color: #F8F8F2;
}
